    <script type="text/javascript">
      <%= init_i18n_error_msg %>
    </script>
    <main class="app-main">
      <header class="list-header">
        <span class="col-name"><%= _('Name', :cert) %></span>
        <span class="col-cname"><%= _('Canonical Name', :cert) %></span>
        <span class="col-mail"><%= _('Email Address', :cert) %></span>
        <span class="col-expire"><%= _('Expires', :cert) %></span>
        <span class="col-ui"></span>
      </header>
      <div id="list" class="list-container" data-type="cert"></div>
      <div id="view" class="list-template">
        <span data-klass="col-name" data-key="name"></span>
        <span data-klass="col-cname" data-key="cname"></span>
        <span data-klass="col-mail" data-key="mail"></span>
        <span data-klass="col-expire" data-key="expire"></span>
        <span data-klass="col-ui">
          <data value="link" data-key="key"><%=
            _('Download URL', :cert)
          %></data>
          <data value="delete" data-key="name" data-confirm="<%=
            _('Sure to revoke cert?', :cert)
          %>" data-warn="<%=
            _('NOTE: THIS CANNOT BE UNDONE.', :warn)
          %>"><%=
            _('Revoke Cert', :cert)
          %></data>
        </span>
      </div>
      <footer class="list-ui">
        <input id="switch" class="switch-control" type="checkbox">
        <form id="create" class="switch-part" <%= csrf_data %>>
          <span class="col-name">
            <input type="text" name="name" placeholder="<%=
              _('(AlNum,_,-)', :rule)
            %>" pattern="[\-_0-9a-zA-Z]+" required>
          </span>
          <span class="col-cname">
            <input type="text" name="cname" placeholder="<%=
              _('(ASCII except &quot;,/,\\)', :rule)
            %>" pattern="[ !#-\.0-\[\]-~]*">
          </span>
          <span class="col-mail">
            <input type="email" name="mail">
          </span>
          <span class="col-submit">
            <button data-icon="done"><%= _('Create', :cert) %></button>
          </span>
          <span class="col-ui">
            <a id="close" href="." title="<%=
              _('Cancel', :cert)
            %>" data-icon="close"></a>
          </span>
        </form>
        <div class="switch-part">
          <span class="col-ui">
            <button id="open" type="button" title="<%=
              _('New Cert', :cert)
            %>" data-icon="add"></button>
          </span>
        </div>
        <div id="error" class="list-error error-status">
          <data value="create"><%=
            _('Creating cert failed(%s).', :cert)
          %></data>
          <data value="read"><%=
            _('Loading list failed(%s).', :cert)
          %></data>
          <data value="delete"><%=
            _('Revoking cert failed(%s).', :cert)
          %></data>
        </div>
      </footer>
    </main>
