    <script type="text/javascript">
      <%= init_i18n_js(:list, [
        'Download URL',
        'Revoke Cert',
        'Loading list failed.'
      ]) %>
    </script>
    <main class="app-main">
      <header class="user-list-header">
        <span class="name"><%= _('Name', :list) %></span>
        <span class="cname"><%= _('Canonical Name', :list) %></span>
        <span class="mail"><%= _('Email Address', :list) %></span>
        <span class="expire"><%= _('Expires', :list) %></span>
        <span class="ui"></span>
      </header>
      <div id="user-list" class="user-list"></div>
    </main>
