    <main class="app-main">
      <form class="auth-form" action="./login" method="post">
        <input type="hidden" <%= csrf_param %>>
        <label><%= _('User', :login) %></label>
        <div class="input-value">
          <input type="text" name="user" autofocus required>
        </div>
        <label><%= _('Password', :login) %></label>
        <div class="input-value">
          <input type="password" name="passwd" autocomplete="current-password" required>
        </div>
        <footer class="form-footer">
          <div class="form-ui">
            <button data-icon="login"><%= _('Login', :login) %></button>
          </div>
          <div class="error-status">
<% if @message %>
            <p><%= @message %></p>
<% end %>
          </div>
        </footer>
      </form>
    </main>
