    <main class="app-main">
      <header class="list-header">
        <span class="col-name"><%= _('User Name', :user) %></span>
        <span class="col-passwd"><%= _('Password', :user) %></span>
        <span class="col-submit"></span>
        <span class="col-spacer"></span>
        <span class="col-ui"></span>
      </header>
      <div id="list" class="list-container" data-type="user"></div>
      <div id="view" class="list-template">
        <span data-klass="col-name" data-key="name"></span>
        <span data-klass="col-passwd" data-value="********"></span>
        <span data-klass="col-submit"></span>
        <span data-klass="col-spacer"></span>
        <span data-klass="col-ui">
          <data value="update" data-key="name"><%=
            _('Change Password', :user)
          %></data>
          <data value="delete" data-key="name" data-confirm="<%=
            _('Sure to delete user?', :user)
          %>" data-warn="<%=
            _('NOTE: THIS CANNOT BE UNDONE.', :warn)
          %>" data-okay="<%=
            _('Sure', :ui)
          %>" data-cancel="<%=
            _('Cancel', :ui)
          %>"><%=
            _('Delete User', :user)
          %></data>
        </span>
      </div>
      <div id="edit" class="list-template">
        <span data-klass="col-name" data-name="name"></span>
        <span data-klass="col-passwd">
          <input type="password" name="passwd" placeholder="<%=
            _('(At least 8 chars)', :rule)
          %>" autocomplete="new-password" minlength="8" required>
        </span>
        <span data-klass="col-submit">
          <button data-icon="done"><%= _('Change', :user) %></button>
        </span>
        <span data-klass="col-spacer"></span>
        <span data-klass="col-ui">
          <a href="." title="<%= _('Cancel', :user) %>" data-icon="close"></a>
        </span>
      </div>
      <footer class="list-ui">
        <input id="switch" class="switch-control" type="checkbox">
        <form id="create" class="switch-part" <%= csrf_data %>>
          <span class="col-name">
            <input type="text" name="name" placeholder="<%=
              _('(AlNum,_,-)', :rule)
            %>" pattern="[\-_0-9a-zA-Z]+" required>
          </span>
          <span class="col-passwd">
            <input type="password" name="passwd" placeholder="<%=
              _('(At least 8 chars)', :rule)
            %>" autocomplete="new-password" minlength="8" required>
          </span>
          <span class="col-submit">
            <button data-icon="done"><%= _('Create', :user) %></button>
          </span>
          <span class="col-spacer"></span>
          <span class="col-ui">
            <a id="close" href="." title="<%=
              _('Cancel', :user)
            %>" data-icon="close"></a>
          </span>
        </form>
        <div class="switch-part">
          <span class="col-ui">
            <button id="open" type="button" title="<%=
              _('New User', :user)
            %>" data-icon="add"></button>
          </span>
        </div>
        <div id="error" class="list-error error-status">
          <data value="create"><%=
            _('Creating user failed.', :user)
          %></data>
          <data value="read"><%=
            _('Loading list failed.', :user)
          %></data>
          <data value="update"><%=
            _('Changing password failed.', :user)
          %></data>
          <data value="delete"><%=
            _('Deleting user failed.', :user)
          %></data>
        </div>
      </footer>
    </main>
